n8n-workflows/02-api-read-google-sheets.json
{
  "name": "ECA Feedback API - n8n Google Sheets Read",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eca-feedback-api",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "api-webhook",
      "name": "API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -900,
        0
      ],
      "webhookId": "eca-feedback-api"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\nconst query = raw.query || {};\nreturn [{ json: { ...query, ...body, action: body.action || query.action || 'ping' } }];"
      },
      "id": "normalize-api-request",
      "name": "Normalize API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -650,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1S-GPXYvwwk_QYhd4G2GS1uloO5tBx0yq0HoEah9d2F8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "OTP_Store",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-otp-store",
      "name": "Read OTP Store",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1S-GPXYvwwk_QYhd4G2GS1uloO5tBx0yq0HoEah9d2F8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Portal_Tasks",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-portal-tasks",
      "name": "Read Portal Tasks",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -150,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1S-GPXYvwwk_QYhd4G2GS1uloO5tBx0yq0HoEah9d2F8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Portal_Submissions",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-portal-submissions",
      "name": "Read Portal Submissions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        100,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1S-GPXYvwwk_QYhd4G2GS1uloO5tBx0yq0HoEah9d2F8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Feedback_Responses",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-legacy-feedback",
      "name": "Read Legacy Feedback",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        350,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst request = $('Normalize API Request').item.json;\nconst action = request.action || 'ping';\nconst norm = v => String(v || '').trim().toLowerCase();\nconst get = (row, keys, fallback='') => { for (const k of keys) { if (row[k] !== undefined && row[k] !== null && String(row[k]).trim() !== '') return row[k]; } return fallback; };\nfunction monthKey(value) {\n  if (!value) return '';\n  const raw = String(value).trim();\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2,'0')}-01`;\n  const m = raw.match(/^(\\d{4})-(\\d{2})/);\n  if (m) return `${m[1]}-${m[2]}-01`;\n  return raw;\n}\nfunction monthLabel(value) {\n  const key = monthKey(value);\n  const d = new Date(key);\n  if (!Number.isNaN(d.getTime())) return d.toLocaleString('en-IN',{month:'short',year:'numeric'});\n  return String(value || '');\n}\nfunction rows(nodeName) {\n  try { return $items(nodeName).map(i => i.json).filter(r => !r.error && Object.keys(r).length); } catch(e) { return []; }\n}\nconst sessions = rows('Read OTP Store');\nconst tasksRaw = rows('Read Portal Tasks');\nconst submissionsRaw = rows('Read Portal Submissions');\nconst legacyRaw = rows('Read Legacy Feedback');\nfunction validSession() {\n  if (action === 'ping' || action === 'available_months') return { email: '', role: 'public' };\n  const token = String(request.sessionToken || '').trim();\n  if (!token) throw new Error('Missing session token. Please login again.');\n  const match = sessions.filter(r => String(r.SessionToken || '').trim() === token && norm(r.Used) === 'true')\n    .sort((a,b) => new Date(b.UsedAt || b.CreatedAt || 0).getTime() - new Date(a.UsedAt || a.CreatedAt || 0).getTime())[0];\n  if (!match) throw new Error('Invalid or expired session. Please login again.');\n  const usedAt = new Date(match.UsedAt || match.CreatedAt || '').getTime();\n  if (!usedAt || Number.isNaN(usedAt) || Date.now() > usedAt + 12*60*60*1000) throw new Error('Session expired. Please login again.');\n  return { email: norm(match.Email), role: norm(match.Role), sessionToken: token };\n}\nconst session = validSession();\nfunction mapTask(row) {\n  const id = String(get(row,['Task_ID','TaskId','taskId'])).trim();\n  return {\n    taskId: id,\n    month: get(row,['Month','month']),\n    coachId: get(row,['Coach_ID','coachId']),\n    coachName: get(row,['Coach_Name','coachName']),\n    coachEmail: norm(get(row,['Coach_Email','coachEmail'])),\n    studentId: get(row,['Student_ID','studentId']),\n    studentName: get(row,['Student_Name','studentName']),\n    studentEmail: get(row,['Student_Email','studentEmail']),\n    lichessId: get(row,['Lichess_ID','lichessId']),\n    batchCode: get(row,['Batch_Code','batchCode']),\n    studentRating: get(row,['Student_Rating','studentRating']),\n    taskStatus: get(row,['Task_Status','taskStatus'],'Pending'),\n    submissionStatus: get(row,['Submission_Status','submissionStatus'],'Pending'),\n    mentorStatus: get(row,['Mentor_Status','mentorStatus'],'Pending'),\n    assignedOn: get(row,['Assigned_On','assignedOn']),\n    submittedOn: get(row,['Submitted_On','submittedOn']),\n    reviewedOn: get(row,['Reviewed_On','reviewedOn']),\n    returnedOn: get(row,['Returned_On','returnedOn']),\n    lastUpdated: get(row,['Last_Updated','lastUpdated'])\n  };\n}\nfunction mapFeedback(row) {\n  return {\n    studentRating: get(row,['Student_Rating','studentRating']),\n    gamesPlayed: get(row,['Games_Played','GamesPlayed','gamesPlayed']),\n    wins: get(row,['Wins','wins']),\n    draws: get(row,['Draws','draws']),\n    losses: get(row,['Losses','losses']),\n    ratingChange: get(row,['Rating_Change','ratingChange']),\n    puzzleActivity: get(row,['Puzzle_Activity','Puzzle_Activities','puzzleActivity']),\n    bestResult: get(row,['Best_Result','bestResult']),\n    puzzleConsistency: get(row,['Puzzle_Consistency','puzzleConsistency']),\n    skillLevel: get(row,['Skill_Level','skillLevel']),\n    classPerformance: get(row,['Class_Performance','classPerformance']),\n    strengths: get(row,['Strengths','strengths']),\n    improvementAreas: get(row,['Improvement_Areas','Improvement_Area','improvementAreas']),\n    focusNextMonth: get(row,['Focus_Next_Month','focusNextMonth']),\n    overallComment: get(row,['Overall_Comment','overallComment']),\n    mentorRemark: get(row,['Mentor_Remark','mentorRemark']),\n    mentorNotes: get(row,['Mentor_Notes','mentorNotes'])\n  };\n}\nfunction mapSubmission(row) {\n  return {\n    submissionId: get(row,['Submission_ID','submissionId']), taskId: get(row,['Task_ID','taskId']), month: get(row,['Month','month']),\n    coachId: get(row,['Coach_ID','coachId']), coachName: get(row,['Coach_Name','coachName']), coachEmail: norm(get(row,['Coach_Email','coachEmail'])),\n    studentId: get(row,['Student_ID','studentId']), studentName: get(row,['Student_Name','studentName']), studentEmail: get(row,['Student_Email','studentEmail']),\n    lichessId: get(row,['Lichess_ID','lichessId']), batchCode: get(row,['Batch_Code','batchCode']),\n    submissionStatus: get(row,['Submission_Status','submissionStatus'],'Submitted'), mentorStatus: get(row,['Mentor_Status','mentorStatus'],'Pending'),\n    submittedOn: get(row,['Submitted_On','Timestamp','submittedOn']), reviewedOn: get(row,['Reviewed_On','reviewedOn']), returnedOn: get(row,['Returned_On','returnedOn']), lastUpdated: get(row,['Last_Updated','lastUpdated']),\n    feedback: mapFeedback(row), raw: row\n  };\n}\nlet tasks = tasksRaw.map(mapTask).filter(t => t.taskId);\nlet submissions = submissionsRaw.map(mapSubmission).filter(s => s.taskId);\nconst latestSub = {};\nsubmissions.sort((a,b)=>new Date(a.lastUpdated||a.reviewedOn||a.submittedOn||0)-new Date(b.lastUpdated||b.reviewedOn||b.submittedOn||0)).forEach(s=>{ latestSub[s.taskId]=s; });\nfunction mergedTask(t) {\n  const s = latestSub[t.taskId];\n  if (!s) return { ...t, feedback: {} };\n  return { ...t, submissionStatus: s.submissionStatus || t.submissionStatus, mentorStatus: s.mentorStatus || t.mentorStatus, taskStatus: s.mentorStatus === 'Approved' ? 'Approved' : (s.mentorStatus === 'Returned' ? 'Returned' : (s.submissionStatus || 'Submitted')), submittedOn: s.submittedOn || t.submittedOn, reviewedOn: s.reviewedOn || t.reviewedOn, returnedOn: s.returnedOn || t.returnedOn, lastUpdated: s.lastUpdated || t.lastUpdated, feedback: s.feedback };\n}\ntasks = tasks.map(mergedTask);\nconst requestedMonth = monthKey(request.month || '');\nconst requestedEmail = norm(request.email || session.email || '');\nfunction byMonth(t){ return !requestedMonth || monthKey(t.month) === requestedMonth; }\nfunction summary(list){ return { active:list.length, submitted:list.filter(t=>norm(t.submissionStatus)==='submitted'||norm(t.taskStatus)==='submitted').length, pending:list.filter(t=>norm(t.taskStatus).includes('pending')||norm(t.submissionStatus).includes('pending')).length, returned:list.filter(t=>norm(t.mentorStatus)==='returned'||norm(t.taskStatus)==='returned').length, approved:list.filter(t=>norm(t.mentorStatus)==='approved'||norm(t.taskStatus)==='approved').length, overdue:0 }; }\nif (action === 'ping') return [{json:{ok:true,data:{message:'n8n-only backend connected'}}}];\nif (action === 'available_months') {\n  const all = [...tasksRaw.map(r=>get(r,['Month'])), ...submissionsRaw.map(r=>get(r,['Month'])), ...legacyRaw.map(r=>get(r,['Month']))].filter(Boolean);\n  const seen = [...new Set(all.map(monthKey))].filter(Boolean).sort();\n  const labels = seen.length ? seen.map(monthLabel) : [monthLabel(new Date())];\n  return [{json:{ok:true,data:{months:labels, defaultMonth: labels[labels.length-1]}}}];\n}\nif (action === 'coach_dashboard') {\n  if (session.role !== 'coach' && session.role !== 'mentor') throw new Error('Coach access required.');\n  const list = tasks.filter(t=>byMonth(t)).filter(t=> session.role==='mentor' ? (!requestedEmail || t.coachEmail===requestedEmail) : t.coachEmail===session.email);\n  return [{json:{ok:true,data:{coachEmail: requestedEmail || session.email, month: request.month, summary: summary(list), tasks:list}}}];\n}\nif (action === 'mentor_dashboard') {\n  if (session.role !== 'mentor') throw new Error('Mentor access required.');\n  const list = tasks.filter(t=>byMonth(t)).filter(t=>['submitted','returned','pending'].includes(norm(t.mentorStatus)) || norm(t.submissionStatus)==='submitted');\n  return [{json:{ok:true,data:{month:request.month, summary:summary(list), tasks:list}}}];\n}\nif (action === 'approved_dashboard') {\n  if (session.role !== 'mentor') throw new Error('Mentor access required.');\n  const list = tasks.filter(t=>byMonth(t)).filter(t=>norm(t.mentorStatus)==='approved'||norm(t.taskStatus)==='approved');\n  return [{json:{ok:true,data:{month:request.month, tasks:list, summary:summary(list)}}}];\n}\nif (action === 'task') {\n  const t = tasks.find(x=>String(x.taskId)===String(request.taskId));\n  if (!t) throw new Error('Task not found.');\n  if (session.role==='coach' && t.coachEmail !== session.email) throw new Error('This task is not assigned to this coach.');\n  return [{json:{ok:true,data:t}}];\n}\nif (action === 'history') {\n  const t = tasks.find(x=>String(x.taskId)===String(request.taskId));\n  if (!t) throw new Error('Task not found.');\n  const sid = String(t.studentId||'').trim();\n  const lich = norm(t.lichessId||'');\n  const old = legacyRaw.filter(r=>String(get(r,['Student_ID','Student Id','studentId'])).trim()===sid || (lich && norm(get(r,['Lichess_ID','Lichess Id','lichessId']))===lich));\n  const newer = submissions.filter(s=>String(s.studentId||'').trim()===sid || (lich && norm(s.lichessId)===lich));\n  return [{json:{ok:true,data:{old,newer}}}];\n}\nif (action === 'fetch_lichess') {\n  return [{json:{ok:true,data:{message:'Lichess fetch disabled in n8n-only build. Paste/update stats manually.'}}}];\n}\nif (['initialize','sync_legacy','launch_tasks','send_reminders'].includes(action)) {\n  if (session.role !== 'mentor') throw new Error('Mentor access required.');\n  return [{json:{ok:true,data:{message:`${action} handled by n8n-only mode. Use Google Sheets tabs directly or add the optional admin workflow.`, tasks: tasks.length, legacyRows: legacyRaw.length}}}];\n}\nthrow new Error('Unsupported action: ' + action);\n"
      },
      "id": "build-api-response",
      "name": "Build API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "api-response",
      "name": "API Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        0
      ]
    }
  ],
  "connections": {
    "API Webhook": {
      "main": [
        [
          {
            "node": "Normalize API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize API Request": {
      "main": [
        [
          {
            "node": "Read OTP Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read OTP Store": {
      "main": [
        [
          {
            "node": "Read Portal Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Portal Tasks": {
      "main": [
        [
          {
            "node": "Read Portal Submissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Portal Submissions": {
      "main": [
        [
          {
            "node": "Read Legacy Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Legacy Feedback": {
      "main": [
        [
          {
            "node": "Build API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Response": {
      "main": [
        [
          {
            "node": "API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}