n8n-workflows/07-daily-student-sync-mongodb.json
{
  "name": "ECA Daily Student Sync - MongoDB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "student-sync-schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{$env.STUDENT_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$env.STUDENT_SHEET_NAME || 'Students'}}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-student-sheet",
      "name": "Read Student Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json).filter(Boolean);\nreturn [{ json: { action: 'sync_students', rows } }];"
      },
      "id": "build-sync-payload",
      "name": "Build Sync Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -270,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.PORTAL_AUTOMATION_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.AUTOMATION_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "call-sync-api",
      "name": "Call Sync API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Read Student Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Student Sheet": {
      "main": [
        [
          {
            "node": "Build Sync Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sync Payload": {
      "main": [
        [
          {
            "node": "Call Sync API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
