n8n-workflows/eca-feedback-legacy-import.json
{
  "name": "ECA Feedback Legacy Import",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eca-feedback-legacy-import",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "legacy-import-webhook",
      "name": "Legacy Import Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-360, 0]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\nreturn [{ json: { email: body.email || 'contact@envisionchessacademy.com', month: body.month || '' } }];"
      },
      "id": "build-import-payload",
      "name": "Build Import Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APPS_SCRIPT_WEBAPP_URL",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "sync_legacy" },
            { "name": "email", "value": "={{ $json.email }}" },
            { "name": "month", "value": "={{ $json.month }}" }
          ]
        },
        "options": {}
      },
      "id": "sync-legacy-apps-script",
      "name": "Sync Legacy In Apps Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [120, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "legacy-import-response",
      "name": "Legacy Import Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [360, 0]
    }
  ],
  "connections": {
    "Legacy Import Webhook": {
      "main": [[{ "node": "Build Import Payload", "type": "main", "index": 0 }]]
    },
    "Build Import Payload": {
      "main": [[{ "node": "Sync Legacy In Apps Script", "type": "main", "index": 0 }]]
    },
    "Sync Legacy In Apps Script": {
      "main": [[{ "node": "Legacy Import Response", "type": "main", "index": 0 }]]
    }
  }
}
