n8n-workflows/eca-feedback-lichess-fetch.json
{
  "name": "ECA Feedback Lichess Fetch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "eca-feedback-lichess-fetch",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "lichess-webhook",
      "name": "Lichess Fetch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-360, 0]
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nreturn [{ json: { email: q.email || '', role: q.role || 'coach', taskId: q.taskId || '' } }];"
      },
      "id": "extract-lichess-request",
      "name": "Extract Lichess Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 0]
    },
    {
      "parameters": {
        "url": "=YOUR_APPS_SCRIPT_WEBAPP_URL?action=fetch_lichess&email={{encodeURIComponent($json.email)}}&role={{encodeURIComponent($json.role)}}&taskId={{encodeURIComponent($json.taskId)}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-via-apps-script",
      "name": "Fetch Via Apps Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [120, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "lichess-response",
      "name": "Lichess Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [360, 0]
    }
  ],
  "connections": {
    "Lichess Fetch Webhook": {
      "main": [[{ "node": "Extract Lichess Request", "type": "main", "index": 0 }]]
    },
    "Extract Lichess Request": {
      "main": [[{ "node": "Fetch Via Apps Script", "type": "main", "index": 0 }]]
    },
    "Fetch Via Apps Script": {
      "main": [[{ "node": "Lichess Response", "type": "main", "index": 0 }]]
    }
  }
}
