n8n-workflows/eca-feedback-launch-month.json
{
  "name": "ECA Feedback Launch Month",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eca-feedback-launch-month",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "launch-webhook",
      "name": "Launch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-520, -80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 26 * *"
            }
          ]
        }
      },
      "id": "monthly-schedule",
      "name": "Monthly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-520, 120]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\nreturn [{ json: {\n  email: body.email || 'contact@envisionchessacademy.com',\n  month: body.month || ''\n}}];"
      },
      "id": "build-launch-payload",
      "name": "Build Launch Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APPS_SCRIPT_WEBAPP_URL",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "launch_tasks" },
            { "name": "email", "value": "={{ $json.email }}" },
            { "name": "month", "value": "={{ $json.month }}" }
          ]
        },
        "options": {}
      },
      "id": "launch-in-apps-script",
      "name": "Launch In Apps Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "launch-response",
      "name": "Launch Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [240, -80]
    }
  ],
  "connections": {
    "Launch Webhook": {
      "main": [[{ "node": "Build Launch Payload", "type": "main", "index": 0 }]]
    },
    "Monthly Schedule": {
      "main": [[{ "node": "Build Launch Payload", "type": "main", "index": 0 }]]
    },
    "Build Launch Payload": {
      "main": [[{ "node": "Launch In Apps Script", "type": "main", "index": 0 }]]
    },
    "Launch In Apps Script": {
      "main": [[{ "node": "Launch Response", "type": "main", "index": 0 }]]
    }
  }
}
